{{extend 'layout.html'}}


{{if msg==None:}}
<div class="container">
    {{=grid}}
    <div class="container mt-2" style="padding:0; margin:0">
        {{ if user.admin_ == True: }}
            {{=form}}
        {{ pass }}
    </div>
</div>
{{else:}}
{{=msg}}
{{pass}}

<script type="text/javascript">
    $('input').ready(function(){  
        var gene_array = [];
        var gene_var = [];
        var i;      
        var j;  
        for (var ii = 1; ii <= 100; ii++) {
            gene_array[ii] = $('#people_gene_'+ii)
            for (var jj = 1; jj <= 10; jj++) {
                gene_var[ii,jj] =$('#people_variant_'+jj+'_gene'+ii)
            }
        }
        for (i=1; i<= 100; i++){
            for (j=1; j<= 10; j++){
                if ($('#people_gene_'+i !== null)){
                    $('#people_variant_'+j+'_gene'+i).show();
                }
                else{
                    $('#people_variant_'+j+'_gene'+i).hide();
                }
                gene_array[i].change(function(){
            if(gene_array[i].prop('value') !== null )
                gene_var[i,j].show();
            else gene_var[i,j].hide();});
            }
        }

        



        $('#people_physician_part').hide();
        $('#people_physician_part__label').css({"color":"red","font-weight":"bold"})
        
        $('#people_quip_label').hide();
        $('#people_quip_label__label').css({"color":"green","font-weight":"bold"})

        $('#people_partner_sleep').hide();
        $('#people_partner_sleep__label').css({"color":"green","font-weight":"bold"})


// Jquery for CSV file           
           $('.w2p_export_menu').children().hide()
           $('.w2p_export_menu').children().first().show()

    });
    
    
</script>
