{{extend 'layout.html'}}


{{=form}}


<script type="text/javascript"></script>

<script>

// 
        if($('#lab_section_lab_2').prop('value') == 'سایر')
                $('#lab_section_lab_part').show();                
            
       else 
             $('#lab_section_lab_part').hide();                             
       $('#lab_section_lab_2').change(function(){
            if($('#lab_section_lab_2').prop('value') == 'سایر')
                $('#lab_section_lab_part').show();            
            else 
                $('#lab_section_lab_part').hide();            
            });     



        if($('#lab_section_lab_1').prop('value') == 'بلی'){
                $('#lab_section_lab_3').show();
                $('#lab_section_lab_4').show();
                $('#lab_section_lab_5').show();                                                                
                $('#lab_section_lab_6').show();   
        }                                                             
            
       else{ 
            $('#lab_section_lab_3').hide();
            $('#lab_section_lab_4').hide();
            $('#lab_section_lab_5').hide();                                                                
            $('#lab_section_lab_6').hide();   
       }                             
       $('#lab_section_lab_1').change(function(){
            if($('#lab_section_lab_1').prop('value') == 'بلی'){
                $('#lab_section_lab_3').show();
                $('#lab_section_lab_4').show();
                $('#lab_section_lab_5').show();                                                                
                $('#lab_section_lab_6').show();  
            }                
            else {
                $('#lab_section_lab_3').hide();
                $('#lab_section_lab_4').hide();
                $('#lab_section_lab_5').hide();                                                                
                $('#lab_section_lab_6').hide();  
            }          
            }); 
</script>               